DATABASE_URL=postgresql://user:password@localhost:5432/nis2_db
SHADOW_DATABASE_URL=postgresql://user:password@localhost:5432/nis2_shadow

JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES=30m

JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES=14d

CORS_ORIGIN=http://localhost:4200
